.headerbox {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    gap: 2em;
}

.donateBtn {
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    /* Убираем margin-left: auto */
}

.hoverBtn {
    cursor: pointer;
    transition: color 0.3s;
    flex-shrink: 0; /* Запрещаем сжатие */
}

.donateBtn:hover {
    color: #84bb59;
}

.hoverBtn:hover {
    color: rgb(155, 79, 176);
}