.donateBtn {
    float: right;
}

.options {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    justify-items: center;                 
    align-items: center;
    gap: 3em;
}

.headerbox {
    display: flex;           
    justify-content: center; 
    gap: 12em;               
}

.donateBtn {
    width: 8em;
    height: 2em;
    color:rgb(92, 188, 110);
    margin-top: 2em;
    text-transform: uppercase;
    text-decoration:none;
    text-align:center;
    margin:30px 0;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,rgb(92, 188, 110) 50%,rgb(92, 188, 110));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid rgb(92, 188, 110);
}

.donateBtn:hover {
    background-position: 0 0;
    color:#fff;
}

.liderpage {
    width: 12em;
    height: 2em;
    color:rgb(155, 79, 176);
    text-transform: uppercase;
    text-decoration:none;
    text-align:center;
    margin:30px 0;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,rgb(155, 79, 176) 50%,rgb(155, 79, 176));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid rgb(155, 79, 176);
}

.liderpage:hover {
    background-position: 0 0;
    color:#fff;
}

.lovepage {
    width: 8em;
    height: 2em;
    color:rgb(155, 79, 176);
    text-transform: uppercase;
    text-decoration:none;
    text-align:center;
    margin:30px 0;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,rgb(155, 79, 176) 50%,rgb(155, 79, 176));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid rgb(155, 79, 176);
}

.lovepage:hover {
    background-position: 0 0;
    color:#fff;
}

.searchpage {
    width: 8em;
    height: 2em;
    color:rgb(155, 79, 176);
    text-transform: uppercase;
    text-decoration:none;
    text-align:center;
    margin:30px 0;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,rgb(155, 79, 176) 50%,rgb(155, 79, 176));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid rgb(155, 79, 176);
}

.searchpage:hover {
    background-position: 0 0;
    color:#fff;
}