.gradientTitle {
    background-image: linear-gradient(90deg,rgba(52, 241, 247, 1) 0%, rgba(29, 119, 253, 1) 37%, rgba(173, 51, 255, 1) 75%);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.formMusic {
    margin: auto;
}