.gradientTitle {
    background-image: linear-gradient(90deg,rgba(52, 241, 247, 1) 0%, rgba(29, 119, 253, 1) 37%, rgba(173, 51, 255, 1) 75%);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.formMusic {
    background-color: rgb(197, 197, 197);
    width: 50em;
    height: 25em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.contentformMusic {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}